@font-face {
  font-family: 'Adventure';
  src: url('adventure.otf');
}

@font-face {
	font-family: 'Comic Story';
	src: url('comic_story.otf')
}

body {
	background-image: url("background.svg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

h1 {
  font-family: 'Adventure';
  font-size: 36px;
}

h2 {
	font-family: 'Comic Story';
	font-size: 18px;
}

img {
	border-radius: 30px;
}

p {
	font-family:'Bahnschrift SemiBold', sans-serif;
}

button {
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
	font-family:'Bahnschrift SemiBold', sans-serif;
  }
  
  button:hover {
	background-color: #008CBA;
	color: white;
  }