@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: 'Adventure';
  src: url('adventure.otf');
}

@font-face {
	font-family: 'Comic Story';
	src: url('comic_story.otf')
}

body {
	background-image: url("background.svg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

h1 {
  font-family: 'Adventure';
  font-size: 36px;
}

h2 {
	font-family: 'Comic Story';
	font-size: 18px;
}

.comicbook {
	height: 350px;
	width: auto;
	padding-left: 25px;
	border-radius: 30px;
}

p {
	font-family: 'Merriweather', serif;
}
